body {
  margin: 0;
  font-family: "DM Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:black; */
  background-image: url("../assets/bgapplication2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
  overflow-x :hidden;
}
/*  */
.nav-link{
  color:black !important;
}

.sidebarbottom{
  padding-left: 25px;
  font-size: 15px;
  position: absolute;
  bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
