.navbar{
    margin-left:-1px;
    height:45px !important;
}

.flexcontainerleft{
    display:flex;
}

.flexcontainerright{
    height: 100%;
    width: 100.1%
}

.headertitlemain{
    padding-left:10px;
    padding-top:10px;
}

.text-center{
    width:98%;
    margin-bottom:20px;
}
