.headertitleoverview{
    height:100vh;
    background-color: rgb(45, 45, 45);
}

.headertitleoverview2{
    display:flex;
  flex-wrap: wrap;
    height:70vh;
}

.labelgauge{
    text-align: center;
    color:white;
    margin-bottom: 20px;
}

.gridgauge{
    margin:auto;
    display: grid;
    
}


.h1{
    background-color:  rgb(45, 45, 45);
    color: white;
    /* padding-left: 80px; */
    text-align: center;
    padding-top: 20px;
}

.footeroverview{
    height:20vh;
}

.h1loading{
    background-color:  rgb(45, 45, 45);
    color: white;
    /* padding-left: 80px; */
    text-align: center;
    padding-top: 20px;
    /* padding-left:47.5%; */
}