.perjamheadertitle{
    padding-left:20px;
    padding-top:10px;
    font-size: 36px;
}

.flexcontainerleftpanel{
    width:30%;
    padding-left: 20px;
    padding-top :20px;
}
.flexcontainerrightpanel{
    width:68%;
    padding-left: 20px;
    padding-top :20px;
}

.labelicon{
    margin-top:-2px;
    margin-right : 5px;
}

.flexlabel{
    display:flex;
}

.flexpanel{
    display:flex;
}

.t1{
    width:45%;
    font-size:14px;
}

.t2{
    font-size: 14px;
}